# data & artifacts
data/
runs/
*.pt
*.pth
*.ckpt
*.zip
*.xlsx

# python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.ipynb_checkpoints/

# latex
report/*.aux
report/*.log
report/*.out
report/*.bbl
report/*.blg
report/*.synctex.gz

# os
.DS_Store
